
.topnav  {
    background-color: #a5a4a4;
    overflow: hidden;
    
}
.instrucao {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
.contato{
    float: right;
    color: #000000;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topnav h1{
    text-align: center;
    
}
.titulo {
    font-size:40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px; /* Evitar sobreposição do cabeçalho */
}

.game-board {
  display: grid;
  gap: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 5px;
}
.quadrado {
  width: 50px;
  height: 50px;
  border: 2px solid #3a3a3c;
  background-color: rgb(216, 214, 214);
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 300px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  form div + div {
    margin-top: 1em;
  }
  label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 120px;
    text-align: left;
  }
  body {
font-family:'Times New Roman', Times, serif;
background-color: rgb(216, 214, 214);
  }
  input,
textarea{

  /* Para dar o mesmo tamanho a todos os campo de texto */
  width: 300px;
  height: 25px;
  font-size: 15px;
  

  /* Para harmonizar o look & feel das bordas nos campos de texto*/
  border: 1px solid #999;
}

.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
  }
  button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: 0.5em;
  }
  
footer {
    background-color: #a5a4a4;
    color: rgb(0, 0, 0);
    position:fixed;
    bottom: 0;
    width: 1350px;
    overflow: hidden;
}
.configuracao{
  float: right;
  margin-left: 89%;
  color: #000000;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.bottomnav{
  display: flex;
}
p{
  position: absolute;
  margin-left: 41%;
}
.quem{
  position: absolute;
  float: left;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.quadrado.typing {
  color: #000000; 
}

.quadrado.correct {
  background-color: #538d4e;
  color: #ffffff; 
}

.quadrado.present {
 background-color: #b59f3b;
  color: #ffffff; 
}

.quadrado.absent {
  background-color: #3a3a3c;
  color: #ffffff; 
}